<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
>
<head>
    <title>Order Page</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script defer src="/assets/js/post.js"></script>
</head>
<th:block layout:fragment="content">
    <section class="post">
        <main id="main">
            <div class="container">
                <div class="post-header">
                    <h4 class="page-subject">게시판</h4>
                    <h4 class="post-title">📢 제목입니다.</h4>
                    <h5 class="post-author">작성자: 홍길동</h5>
                </div>

                <div class="post-info">
                    <div class="post-cal-people">
                        <div class="post-peopleNumber">👥 참여 인원: 1 / 5</div>
                        <p class="post-createDate">🗓️ 게시글 작성날짜: 1111-11-11</p>
                    </div>
                    <div class="post-peopleGroup">
                        <div class="people">홍길동</div>
                        <div class="people">홍길동</div>
                    </div>

                    <div class="information">
                        <div class="information-start"><i class="bi bi-calendar-check"></i>시작: 2222-2-22 22:00</div>
                        <div class="information-end"><i class="bi bi-calendar-x"></i> 종료: 2222-2-22 23:00</div>
                        <div class="information-place"><i class="bi bi-geo-alt-fill"></i> 장소: 스터디룸 2번</div>
                    </div>
                </div>

                <div class="post-content">
                    <p>내용부분</p>
                    <p>🎉 이곳에서 내용을 자유롭게 작성하세요! 다양한 정보를 공유하고, 의견을 나눠보세요. 😊</p>
                </div>
                <!-- postUpdate에서 태그 가져와서 사용할 공간 (수정필요)-->
                <div class="tags">
                    <div class="tag">#안양역</div>
                    <div class="tag">#모임공간</div>
                    <!-- 추가적인 태그들을 여기에 추가 -->
                </div>

                <div class="btn-group">
                    <button class="previousButton post-btn btn btn-light">⬅️ 이전</button>
                    <button class="participateButton post-btn btn btn-light">✔️ 참여하기</button>
                    <button class="participateButton post-btn btn btn-light">✏️ 수정</button>
                    <button class="participateButton post-btn btn btn-light">❌ 삭제</button>
                </div>
            </div>
        </main>
    </section>
</th:block>
</html>
